-extends "impex.application:templates/authencitated.haml"
-import 'impex.utils:templates/table.haml' as table
-block content
    %div.col-lg-12
      %div.bs-component
        %div.jumbotron.jumbotron2
          %h1
            Lista grup&nbsp;
            =table.add_button(route_path('groups:admin:create'))

          %table.table.table-striped.table-hover
            %thead
              %tr
                =table.index_header()
                %th -> Nazwa
                %th -> Ilość gier
                %th -> Akcje

            %tbody
              -for group in groups:
                %tr.withactions
                  =table.index_row(loop)
                  %td
                    =group.name
                  %td
                    =group.games_len()
                  %td
                    =table.edit_button(route_path('groups:admin:edit', group_id=group.id))

