-extends "impex.application:templates/authencitated.haml"
-block content
    %div.col-lg-12
      %div.bs-component
        %div.jumbotron
          %h1
            Lista drużyn&nbsp;
          %ul
            -for order in orders:
              %li
                %a href="{{route_path('orders:read', order_id=order.id)}}"
                  =order.name
