-extends "impex.application:templates/authencitated.haml"
-block content
    %div.col-lg-12
      %div.bs-component
        %div.jumbotron
          %h1
            Lista drużyn&nbsp;
            %a.btn.btn-small.btn-success.fa.fa-plus href="{{route_path('teams:admin:create')}}"

          %table.table.table-striped.table-hover
            %thead
              %tr
                %th -> #
                %th -> Nazwa
                %th -> Miejscowość
                %th -> Akcje

            %tbody
              -for team in teams:
                %tr
                  %td
                    =loop.index
                  %td
                    =team.name
                  %td
                    =team.hometown
                  %td
                    %a.fa.btn.btn-success.btn-sm.fa-pencil href="{{route_path('teams:admin:edit', team_id=team.id)}}"
                    %a.fa.btn.btn-danger.btn-sm.fa-trash-o href="#"

