-macro add_button(url):
  %a.btn.btn-small.btn-success.fa.fa-plus href="{{url}}" title="Stwórz"

-macro index_header():
  %th.col-lg-1.text-center -> #

-macro index_row(loop):
  %td.text-center
    =loop.index

-macro edit_button(url):
  %a.fa.btn.btn-sm.btn-left-margin.btn-success.fa-pencil href="{{url}}" title="Edytuj"

-macro delete_button(url):
  %a.fa.btn.btn-sm.btn-left-margin.btn-danger.fa-trash-o href="{{url}}" title="Usuń"

-macro play_button(url):
  %a.fa.btn.btn-sm.btn-left-margin.btn-info.fa-play  href="{{url}}" title="Mecze"

