-extends "impex.application:templates/authencitated.haml"
-block content
    %div.col-lg-12
      %div.bs-component
        %div.jumbotron
          %legend
            Edytuj miejsce
          =form()
