-extends "impex.application:templates/authencitated.haml"
-import 'impex.utils:templates/table.haml' as table
-block content
    %div.col-lg-12
      %div.bs-component
        %div.jumbotron.jumbotron2
          %h1
            Wybierz rok&nbsp;
          %ul
            -for event in events:
              %li
                =event.name
                %div.buttons
                  %a.label.label-primary href="{{route_path('games:list', event_id=event.id)}}"
                    Mecze

