=widget.begin(htmlcls='form-horizontal')
  %fieldset
    =widget.checkbox("is_visible")
    =widget.text("name")
    =widget.date("start_date")
    =widget.date("end_date")
    =widget.checkbox("enable_twtitter")
    -block submit
      =widget.submit("Dodaj")

