=widget.begin(htmlcls='form-horizontal')
  %fieldset
    =widget.text("name")
    =widget.text("start_date")
    =widget.text("end_date")
    =widget.text("is_visible")
    -block submit
      =widget.submit("Dodaj")

