-extends "impex.application:templates/authencitated.haml"
-block content
    %div.col-lg-12
      %div.bs-component
        %h1
          Lista meczy&nbsp;
    -if highscore:
      =highscore()
    %div.col-lg-12
      %div.bs-component
        %div
          -for game in games:
            =game()



