-extends "impex.application:templates/authencitated.haml"
-block content
  =need('gamelist')
  =need('bracket')
  %div.col-lg-12
    %div.bs-component
      =event(False)
      %h1.filters
        Lista meczy&nbsp;
        %button.btn.btn-warning.btn-xs.all data-class="btn-warning" data-type="all" -> Wszystkie
        &nbsp;
        %button.btn.btn-primary.btn-xs data-class="btn-primary" data-type="not_started" -> Nie rozpoczęte
        &nbsp;
        %button.btn.btn-success.btn-xs data-class="btn-success" data-type="running" -> W trakcie
        &nbsp;
        %button.btn.btn-info.btn-xs data-class="btn-info" data-type="ended" -> Zakończone
  -if highscore:
    =highscore()
  -if ladder:
    =ladder()

  %div.col-lg-12
    %div.bs-component
      %div
        -for game in games:
          =game()



