-extends "main.haml"
-block body
  %div.navbar.navbar-default.navbar-inverse id="bs-example-navbar-collapse-2"
    %div.container
      %div.navbar-header
        %a.navbar-brand href="{{route_path('home')}}"
          Wyniki Turniejów
      %div.navbar-collapse.collapse id="navbar-main"
        %ul.nav.navbar-nav
          -if request.has_permission('admin')
            %li
              %a href="{{route_path('teams:admin:list')}}"
                Drużyny
            %li
              %a href="{{route_path('events:admin:list')}}"
                Wydarzenia
            %li
              %a href="{{route_path('groups:admin:list')}}"
                Grupy
            %li
              %a href="{{route_path('places:admin:list')}}"
                Miejsca
            %li
              %a href="{{route_path('sliders:admin')}}"
                Slidery
        %ul.nav.navbar-nav.navbar-right
          -if request.has_permission('auth')
            %li
              %a href="{{route_path('auth:logout')}}"
                Logout
  =crumbs()
  %div.container
    %div.row
      =flashmsg()
      -block content
