-if crumbs:
  %ul.breadcrumb.col-lg-10.col-lg-offset-1
    -for crumb in crumbs:
      -if crumb.is_active:
        %li.active -> =crumb.label
      -else:
        %li -> %a href="{{crumb.url}}" -> {{crumb.label}}
