=widget.begin(htmlcls='form-horizontal')
  %fieldset
    =widget.datetime("plaing_at")
    =widget.text("priority")
    =widget.select('left_id')
    =widget.select('right_id')
    -block submit
      =widget.submit("Dodaj")

