%div.form-group
  %label.col-lg-2.control-label for="{{id}}"
    =label
    -include templates['field_error']
  %div.col-lg-10
    %select.form-control name="{{name}}"
      -for element in field.avalible_values
        %option value="{{element.id}}"{% if element.id == value %} selected=selected{% endif %}
          =element.name
