=need('home')
-extends "impex.application:templates/authencitated.haml"
-block content
    %div.col-lg-12
      %div.bs-component
        %div.jumbotron
          %h1 << Witamy
          %p
            Username: {{user.name}}
          %p
            Lorem ipsum po polsku:
            Szłem łąką, kwiaty pachły, ona mnie odepchła. Brzęczyszczykiewicz Jan.

