=need('home')
-extends "impex.application:templates/authencitated.haml"
-block content

  %div.col-lg-12
    %div.bs-component
      %div.jumbotron
        %h1 << Witamy
        %p
          Username: {{user.name}}

