-extends "impex.application:templates/authencitated.haml"


-block content
  =need('scoretable')
  %div.col-lg-12
    %div.bs-component
      %div.jumbotron.jumbotron2
        %h1
          Tabela Wyników&nbsp;
        =form()
