=need('jquery')
=need('sliders')
=need('bootstrap')
%html
  %head

  %body
    %div.container
      %div.row.text-center
        -for tab in tabs.values():
          =tab()
      %script
        ViewConfig = {
          timestamp: {{timestamp}},
          event_id: {{event_id}}
        };
