=need('jquery')
=need('sliders')
=need('bootstrap')
=need('bracket')
=need('custom')
%html
  %head

  %body
    %div.container
      %div.row
        -for tab in tabs.values():
          =tab()
      %script
        ViewConfig = {
          timestamp: {{timestamp}},
          event_id: {{event_id}}
        };
