-extends "impex.application:templates/authencitated.haml"
-import 'impex.utils:templates/table.haml' as table
-block content
    %div.col-lg-12
      %div.bs-component
        %div.jumbotron.jumbotron2
          %h1
            Lista meczy&nbsp;

          %table.table.table-striped.table-hover
            %thead
              %tr
                =table.index_header()
                %th -> status

            %tbody
              -for game in games:
                %tr.withactions
                  =table.index_row(loop)
                  %td -> =game.status
