-extends "impex.application:templates/authencitated.haml"
-import 'impex.utils:templates/table.haml' as table
-block content
    %div.col-lg-12
      %div.bs-component
        %div.jumbotron.jumbotron2
          %h1
            Lista meczy&nbsp;
            =table.add_button(route_path('games:admin:create', event_id=request.matchdict['event_id']))

          %table.table.table-striped.table-hover
            %thead
              %tr
                =table.index_header()
                %th.text-center -> Priorytet
                %th.text-center -> Status
                %th -> Drużyna
                %th -> Drużyna
                %th -> Data
                %th -> Akcje

            %tbody
              -for game in games:
                %tr.withactions
                  =table.index_row(loop)
                  %td.text-center -> =game.priority
                  %td.text-center
                    -if game.status == 0:
                      %div.fa.btn.btn-sm.btn-left-margin.btn-primary.fa-step-forward
                    -elif game.status == 1:
                      %div.fa.btn.btn-sm.btn-left-margin.btn-success.fa-play
                    -else:
                      %div.fa.btn.btn-sm.btn-left-margin.btn-danger.fa-stop
                  %td -> =game.left.name
                  %td -> =game.right.name
                  -if game.plaing_at:
                    %td -> =game.plaing_at.strftime('%Y-%m-%d %H:%M')
                  -else:
                    %td
                  %td
                    =table.edit_button(route_path('games:admin:edit', event_id=request.matchdict['event_id'], game_id=game.id))
                    =table.scores_button(route_path('games:admin:edit_scores', event_id=request.matchdict['event_id'], game_id=game.id))
