%div.col-lg-10..col-lg-offset-1
  %div.well
    %table.scores.table.table-striped.table-hover
      %thead
        %tr
          %td.teamname -> Drużyna
          %td -> Mecze
          %td -> Zwycięstw
          %td -> Punkty
          %td -> Małe Punkty
      %tbody
          -for team in teams:
            %tr
              %td.teamname -> =team['name']
              %td -> =team['games']
              %td -> =team['wins']
              %td -> =team['points']
              %td -> =team['smallpoints']
