=widget.begin(htmlcls='form-horizontal')
  %fieldset
    =widget.form_error()
    =widget.datetime("plaing_at")
    =widget.select('group_id')
    =widget.select('place_id')
    =widget.text("priority")
    =widget.select('left_id')
    =widget.select('right_id')
    =widget.select('child_id')
    -block submit
      =widget.submit("Dodaj")

