-extends "impex.application:templates/authencitated.haml"
-block content
    %div.col-lg-12
      %div.bs-component
        %div.jumbotron
          %h1
            Lista wydarzeń&nbsp;
            %a.btn.btn-small.btn-primary href="{{route_path('events:admin:create')}}"
              Nowe
          %ul
            -for event in events:
              %li
                %a href="{{route_path('events:admin:edit', event_id=event.id)}}"
                  {{event.name}}

