-extends "impex.application:templates/authencitated.haml"
-import 'impex.utils:templates/table.haml' as table
-block content
    %div.col-lg-12
      %div.bs-component
        %div.jumbotron.jumbotron2
          %h1
            Lista wydarzeń&nbsp;
            =table.add_button(route_path('events:admin:create'))

          %table.table.table-striped.table-hover
            %thead
              %tr
                =table.index_header()
                %th -> Nazwa
                %th -> Opublikowane
                %th -> Akcje

            %tbody
              -for event in events:
                %tr.withactions
                  =table.index_row(loop)
                  %td
                    {{event.name}}
                  %td
                    -if event.is_visible:
                      %i.fa.fa-check style="color: #5cb85c;"
                    -else:
                      %i.fa.fa-times style="color: red;"
                  %td
                    =table.edit_button(route_path('events:admin:edit', event_id=event.id))
