=need('datepicker')
=need('timepicker')
%div.form-group
  %label.col-lg-2.control-label for="{{id}}"
    =label
    -include templates['field_error']
  %div.col-lg-10
    -if value:
      %input.form-control value="{{value.strftime('%Y-%m-%d')}}" name="{{name}}" placeholder="Data" id="{{id}}_date"{%- if disabled %} disabled=disabled{% endif %}
      %input.form-control value="{{value.strftime('%H:%M')}}" name="{{name}}" placeholder="Godzina" id="{{id}}_time"{%- if disabled %} disabled=disabled{% endif %}
    -else:
      %input.form-control value="" name="{{name}}" placeholder="Data" id="{{id}}_date"{%- if disabled %} disabled=disabled{% endif %}
      %input.form-control value="" name="{{name}}" placeholder="Godzina" id="{{id}}_time"{%- if disabled %} disabled=disabled{% endif %}
%script
  $(function(){
    $('#{{id}}_date').datepicker({format: 'yyyy-mm-dd', autoclose:true, todayBtn: true});
    $('#{{id}}_time').timepicker({showMeridian: false, maxHours: 24, template: false});
  });
